<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSPFilters4JUCEDemo (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DSPFilters4JUCEDemo (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DSPFilters4JUCEDemo (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19856D74D28FC72FEC5A6CD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C71F430F95BE857468E103E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C510933E30940A5E71D47A7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
